strong{

	font-size: 20px;
}

input{

	font-size: 17px;
	border-color: #026EAE;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-left: 15px;
	width: 300px;
	margin-top: 10px;
	/*text-transform: uppercase;*/

}

input:focus { 

	border-top-color: white;
 
}